.card {
  border-radius: var(--spacing-400);
  background: var(--color-gradient);
  padding: var(--spacing-400) var(--spacing-300);
  width: 100%;
  max-width: 41.2rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.card-main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.card-main h2 {
  font: var(--text-preset-1);
  font-weight: var(--font-weight-bold);
}

.card-main p {
  font: var(--text-preset-4-regular);
  font-weight: var(--font-weight-regular);
  color: var(--color-grey-500);
}
