.rate-selector {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.rate {
  font: var(--text-preset-5-bold);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-5-bold);
  color: var(--color-grey-500);
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background: var(--color-grey-900);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: var(--letter-spacing-3);
  cursor: pointer;
  transition: 300ms ease-in-out all;
}

.rate:hover {
  background: var(--color-white);
  color: var(--color-grey-900);
}

.rate.active {
  background: var(--color-orange-500);
  color: var(--color-grey-900);
}

@media screen and (min-width: 768px) {
  .rate {
    width: 4.8rem;
    height: 4.8rem;
    font: var(--text-preset-3);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-3);
  }
}
